#:schema https://raw.githubusercontent.com/YunoHost/apps/main/schemas/manifest.v2.schema.json

packaging_format = 2

id = "open-webui"
name = "Open WebUI"
description.en = "User-friendly AI Interface (Supports Ollama, OpenAI API, ...)"
description.fr = "Interface IA conviviale (Supporte Ollama, API OpenAI, ...)"

version = "0.6.26~ynh1"

maintainers = ["DeMiro5001"]

[upstream]
license = "BSD-3-Clause"
website = "https://openwebui.com/"
admindoc = "https://docs.openwebui.com/getting-started/"
userdoc = "https://docs.openwebui.com/category/-tutorials"
code = "https://github.com/open-webui/open-webui"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"

architectures = "all"
multi_instance = false

ldap = true
sso = false

disk = "10G"
ram.build = "250M"
ram.runtime = "2G"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "all_users"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr", "en"]
    default = "fr"

    [install.admin]
    type = "user"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/open-webui/open-webui/archive/refs/tags/v0.6.26.tar.gz"
    sha256 = "84ddab75d405b814412d854f1709443906bf51589ba6660e8bb50d89de88faaf"

    autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "ffmpeg, python3-venv, python3-pip, python3-dev" 
